
:root{
	--background-color: #222;
	--font-color: #EEE;
}


@font-face {
	font-family: Zpix;
	src: url(zpix.woff2);
}
@font-face {
	font-family: Guanzhi8px;
	src: url(guanzhi8px.woff);
}

html{
	font:400 12px/1.4 Zpix,sans-serif;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;

	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	font-feature-settings: 'tnum';
	background: var(--background-color);
	color: var(--font-color);
}
body{
	margin:0;
	padding-bottom:50px;
}

.app{
	width:100%;
}
button,input{
	font:inherit;
}
a{
	color:#336fa1;
}
::selection{
	background: #002f52;
	color: #eefee4;
}

canvas{
	image-rendering: pixelated;
	position: absolute;
	width:1px;
	-webkit-text-size-adjust:none;
}

.output-box{
	padding: 0;

	overflow: auto;
	width:100%;
	box-sizing: border-box;
}
.output-box pre{
	line-height: 1;
	font-family: inherit;
	padding: 2em;
	transition: transform .3s ease;
	transform-origin: 0 0;
	
}
.output-box pre[data-zoom="0.5"]{
	/* zoom:.5; */
	transform: scale(.5);
}
header{
	padding:80px 20px 20px;
	line-height: 1.5;
}
h1{
	font-size: 40px;
	padding:0 4px;
	margin: 0;
    text-shadow: 2px 2px 0 #ff658c, -2px -2px 0 #77cdc7;
}
header p{
	margin:0;
	opacity: .5;
	text-indent:.5em;
}


h2,
h3,h4,h5,h6{
	margin:0;
}
h3{
	font-size:15px;
}
h4{
	font-size:12px;
}

small{
	opacity: .8;
	font-weight: normal;
	word-break: break-all;
}
small:before,
small:after{
	opacity: .5;
	margin:0 .2em;
}
small:before{
	content: '(';
}
small:after{
	content: ')';
}





.ctrl-box{
	padding:20px 20px 0;
}

[v-cloak]{
	display: none;
}

pre{
	font:inherit;
	background: var(--background-color);
	color: var(--font-color);
	padding:6px;
	margin:0;
}
.app[data-runing="true"]{
	cursor: wait;
}
.app[data-runing="true"] .ctrl-box{
	pointer-events: none;
}

hr{
	border:0;
	margin:20px 0;
	padding:0;
	border-top:2px solid rgba(0,0,0,.05);
}

.tip-box{
	border-top:2px solid rgba(0,0,0,.05);
	/* margin:20px 0; */
	padding:15px;
}
.tip-box a{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}


code{
	background:rgba(0,0,0,.1);
	display: inline-block;
	padding:0 4px;
	margin:0 2px;
	border-radius:1px;
}

blockquote{
	display: inline-block;
	background:rgba(0,0,0,.1);
	margin:40px 0 0;
	padding:20px;
}
blockquote p{
	margin:0;
}

.post-box{
	padding:15px;
}

.dialog-box{
	display: inline-block;
	margin:0;
	padding:12px 14px;
	background:#ffe89b;
	border:1px solid #ffd350;
	border-radius:3px;
	color:#8b4d00;
}

footer{
	padding:40px 20px 100px;
	line-height: 2;
}
footer hr{
	display: inline-block;
	vertical-align: middle;
	border:0;
	height:1em;
	margin:0 .2em;
	border-left:1px solid rgba(0,0,0,.2);
}






button{
	border:2px solid currentColor;
	color:currentColor;
	appearance: none;
	padding:4px 6px;
	background: var(--background-color);
	box-shadow:
		2px 2px 0 #666 inset,
		-2px -2px 0 #333 inset;
	cursor: pointer;
}
button:active{
	color:#CCC;
}
/* 20220407 itorr ui */
input[type="range"]{
	width:400px;
	height:20px;
	-webkit-appearance: none;
	appearance: none;
	max-width:100%;
	margin:0;
	display: block;
	color:inherit;
	background:none;

	cursor: pointer;
	
}
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	background:currentColor;
	height:2px;
}
input[type="range"]::-webkit-slider-thumb{
	height:18px;
	width:10px;
	margin:-8px 0;
	background:currentColor;
	border:2px solid var(--background-color);
	-webkit-appearance:none;
	appearance: none;
	border-radius:0;
	box-shadow:none;
}
input[type="range"]:disabled{
    opacity: .5;
    cursor: not-allowed;
}
input[type="range"]:disabled::-webkit-slider-thumb{
    cursor: not-allowed;
}


label{
	cursor: pointer;
}
label input[type="checkbox"],
label input[type="radio"]{
	display: inline-block;
	vertical-align: middle;
	margin:.15em .05em .15em 0;
	width:14px;
	height:14px;
	color:currentColor;
	border:2px solid currentColor;
	-webkit-appearance:none;
	appearance: none;
	position: relative;
	z-index: 0;
	cursor: pointer;
}
label input[type="checkbox"]{
	border-radius:0;
}
label input[type="radio"]{
	border-radius: 4px;

}
label input[type="checkbox"]:checked:after,
label input[type="radio"]:checked:after{
	content:'';
	position: absolute;
	width:8px;
	height:8px;
    background: currentColor;
	margin:1px;
}
label input[type="radio"]:checked:after{
	border-radius: 1px;
}
label input[type="checkbox"]:disabled,
label input[type="radio"]:disabled{
	cursor: not-allowed;
}
label input[type="checkbox"]:disabled + span,
label input[type="radio"]:disabled + span{

}

label[data-disabled]{
	opacity: 0.5;
	cursor: not-allowed;
}


.config-fonts-box{
	padding:10px 20px;
	overflow: hidden;
}
.config-fonts-box a{
	float: left;
	width:60px;
	height:60px;
	line-height:60px;
	text-align: center;
	color:currentColor;
	border:2px solid var(--font-color);
	cursor: pointer;
	box-shadow:
		2px 2px 0 #666 inset,
		-2px -2px 0 #333 inset;

	/* transition: background-color .3s ease; */
}
.config-fonts-box a[data-checked="true"]{
	color:var(--background-color);
	background:var(--font-color);
	box-shadow:none;
}
.config-fonts-box a.radio{

}


.input-box{
	position: relative;
	margin: 0 20px;
}
.input-box:after{
	content: '';
	display: block;
	clear: both;
}
.input-box textarea,
.input-box div{
	display: block;
	float: left;
	color:currentColor;
	border:2px solid currentColor;
	width: 400px;
	max-width:100%;
	box-sizing: border-box;
	min-height:200px;
	resize:none;
	padding:6px;
	-webkit-appearance:none;
	appearance: none;
	border-radius: 0;
	background: var(--background-color);
	outline:none;
	font:inherit;
	font-size:2em;
	line-height:1;
    word-break: break-all;
    white-space: pre-wrap;
}
.input-box div{

}
.input-box textarea{
	position: absolute;
	height:100%;
	/* left:40px; */
}


.toast-box{
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	margin: 0 auto 0;
	line-height: 1.2;
	text-align: center;
	padding:10px 8px 60px;
	background:var(--font-color);
	color:var(--background-color);
	pointer-events: none;
	transition: opacity .3s ease, transform .3s ease;
}
.toast-box.h{
	opacity: 0;
	transform: translateY(20px);
}