<!DOCTYPE html>
<meta charset="UTF-8">
<title>字符字生成器 - 神奇海螺实验室</title>
<meta name="discription" content="字符字生成器 - 神奇海螺实验室">
<link rel="stylesheet" href="document.css?r=220418">
<meta name="viewport" content="width=device-width,user-scalable=0">
<div class="app" :data-runing="runing">
    <header>
        <h1>
            <span class="logo">字符字</span><span>生成器</span>
        </h1>
        <p>字符生成字符字工具，你搁这搁这呢？</p>
    </header>
    <div class="config-fonts-box">
        <a @click="fontName = 'Zpix'" :data-checked="fontName === 'Zpix'" style="border-right:0;">11px</a>
        <a @click="fontName = 'Guanzhi8px'" :data-checked="fontName === 'Guanzhi8px'" style="border-left:0;">7px</a>

        <a class="radio" @click="xpix = xpix === 1 ? 2 : 1" :data-checked="xpix === 2" style="margin-left:10px;">二倍宽</a>
        <a class="radio" @click="braille = !braille" :data-checked="braille" style="margin-left:10px;">盲文</a>
        <!-- 
        <label>
            <input type="radio" v-model="fontName" value="Zpix">
            12px
        </label>
        <label :data-disabled="!isMac" title="由于 Windows Chrome 最小文字尺寸限制，无法使用 8px 像素文字">
            <input type="radio" v-model="fontName" value="Guanzhi8px" :disabled="!isMac">
            <span>8px</span>
        </label>
        <label>
            <input type="radio" v-model="fontName" value="Guanzhi8px">
            <span>8px</span>
        </label>
         -->
    </div>
    <div class="input-box">
        <textarea v-model="text" placeholder="神奇
海螺 「字符字生成器」

键入文字、生成字符字|"></textarea>
        <div>{{ text+'\n' }}</div>
    </div>
    <div class="ctrl-box">
        <button @click="copyOutput()">复制 字符字 到剪贴板</button>
        <span style="display: inline-block;margin:0 10px;">
            <label>
                <input type="radio" v-model="zoom" :value="0.1">
                %12
            </label>
            <label>
                <input type="radio" v-model="zoom" :value="0.5">
                x0.5
            </label>
            <label>
                <input type="radio" v-model="zoom" :value="1">
                x1.0
            </label>
        </span>
    </div>
    <div class="output-box">
        <pre v-html="output" :data-zoom="zoom" :data-xpix="xpix" :data-braille="braille"></pre>
    </div>
    <blockquote>
        <p>
            <del>MacOS 下可选 8px，Windows Chrome 由于最小文字尺寸限制无法使用小于 12px 的文字</del><br>
            已经支持了！
        </p>
        <p>微博中使用建议字符字小于 35 列</p>
        <p>添加了盲文格式，实用性更强了</p>
    </blockquote>
    <footer>
        <div class="copyright">
            <br>
            <a href="https://weibo.com/1197780522/LocP8rRu0" target="_blank">转发到微博</a>
            <br>
            全做：<a href="https://weibo.com/reiove" target="_blank">@卜卜口</a>
            <hr>
            反馈：<a href="https://github.com/itorr/fontfont" target="_blank">GitHub</a>
            <hr>
            QQ群 <span>330928937</span>
            <br>
            <a href="https://lab.magiconch.com/">神奇海螺实验室</a>
            <hr>
            打赏：<a href="https://lab.magiconch.com/nbnhhsh/sponsor.png" target="_blank">二维码</a>
            <br>
            利用：<a href="https://github.com/SolidZORO/zpix-pixel-font" target="_blank">最像素 Zpix</a>、观致 8px
            <br>
            盲文部分参考了 <a href="https://github.com/505e06b2/Image-to-Braille" target="_blank">Image-to-Braille</a>
        </div>
    </footer>
</div>
<script src="vue.2.6.11.min.js"></script>
<script src="braille.js?r=220413-1"></script>
<script src="fontfont.js?r=220413-1"></script>
<script src="document.js?r=220418"></script>