<!DOCTYPE html>
<meta charset="UTF-8">
<title>字符字生成器 - 神奇海螺实验室</title>
<meta name="discription" content="字符字生成器 - 神奇海螺实验室">
<link rel="stylesheet" href="document.css">
<meta name="viewport" content="width=device-width,user-scalable=0">
<div class="app" :data-runing="runing">
    <header>
        <h1>字符字生成器</h1>
    </header>
    <div class="config-fonts-box">
        <label>
            <input type="radio" v-model="fontName" value="Zpix">
            12px
        </label>
        <!-- <label :data-disabled="!isMac" title="由于 Windows Chrome 最小文字尺寸限制，无法使用 8px 像素文字">
            <input type="radio" v-model="fontName" value="Guanzhi8px" :disabled="!isMac">
            <span>8px</span>
        </label> -->
        <label>
            <input type="radio" v-model="fontName" value="Guanzhi8px">
            <span>8px</span>
        </label>
    </div>
    <div class="input-box">
        <textarea v-model="text"></textarea>
        <div>{{ text+'\n' }}</div>
    </div>
    <div class="ctrl-box">
        <button @click="copyOutput()">复制字符字</button>
        <span style="display: inline-block;margin:0 10px;">
            <label>
                <input type="radio" v-model="zoom" :value="0.5">
                0.5
            </label>
            <label>
                <input type="radio" v-model="zoom" :value="1">
                1.0
            </label>
        </span>
    </div>
    <div class="output-box">
        <pre v-html="output" :data-zoom="zoom"></pre>
    </div>
    <blockquote>
        <p>MacOS 下可选 8px，Windows Chrome 由于最小文字尺寸限制无法使用小于 12px 的文字</p>
    </blockquote>
    <footer>
        <div class="copyright">
            <br>
            <a href="https://weibo.com/1197780522/Lmoup2eDs" target="_blank">转发到微博</a>
            <br>
            全做：<a href="https://weibo.com/reiove" target="_blank">@卜卜口</a>
            <hr>
            反馈：<a href="https://github.com/itorr/patina" target="_blank">GitHub</a>
            <hr>
            QQ群 <span>335766065</span>
            <br>
            <a href="https://lab.magiconch.com/">神奇海螺实验室</a>
            <hr>
            打赏：<a href="https://lab.magiconch.com/nbnhhsh/sponsor.png" target="_blank">二维码</a>
            <hr>
            利用：<a href="https://github.com/SolidZORO/zpix-pixel-font" target="_blank">最像素 Zpix</a>、观致 8px
        </div>
    </footer>

</div>
<script src="vue.2.6.11.min.js"></script>
<script src="fontfont.js"></script>
<script src="document.js"></script>